body {
    margin: 0px;
    width: 100vw;
}
#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#root * {
    box-sizing: border-box;
}


/* Navbar Component */
nav {
    background-color: cornflowerblue;
    width: 100%;
    height: 100%;
    max-height: 150px;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}
    /* User Input - form */
    form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 40%;
        padding: 0px 40px;
    }
        form > div {
            display: flex;
            justify-content: space-between;
            
        }
            .navbar--button-container {
                display: flex;
                justify-content: center;
            }
            .navbar--button-container > button {
                width: 60%;
            }
        input {
            width: 300px;
        }
    /* Search Results Table */
    .navbar--search-results {
        display: flex;
        justify-content: center;
        width: 100%;
    }
        #search-table {
            width: 100%;
            max-width: 700px;
        }
        #search-table * {
            background-color: lightblue;
            font-size: 95%;
            border-spacing: 0px;
        }
            #search-table-head * {
                font-size: 110%;
                background-color: rgb(255, 255, 255);
            }
                #search-table-head {
                    display:block;
                }
            #search-table-body {
                display: block;
                overflow: auto;
                height: 100px;
            }
            .table-header-symbol, .table-header-name {
                font-size: 97%;
                font-weight: 800;
                padding-bottom: 0px;
                padding: 3px 3px;
                text-align: center;
            }
            .table-header-name, .table-content-name {
                width: 500px;
            }
            .table-header-symbol, .table-content-symbol {
                width: 200px;
            }
            .table-content-name, .table-content-symbol {
                min-height: 17px;
                font-weight: 600;
            }
            .table-content-name {
                padding-left: 10px;
                display: flex;
            }
            #table-content-row:hover * {
                background-color: white;
                cursor: pointer;
            }
            #table-content-row-blank * {
                background-color: rgb(123, 123, 123);
            }
/* Main Component */
main {
    height: 70%;
    width: 100%;
}
    .report-selection {
        width: 100%;
        height: 7%;
        display: flex;
        justify-content: space-around;
        padding: 10px 5px 0px 5px;
        border-bottom: 1px solid rgb(123, 123, 123);
    }
    .report-selection > a {
        text-decoration: none;
    }
        .report-selection-tab {
            font-size: 120%;
            padding: 5px 30px;
            color: rgb(123, 123, 123);
            background-color: rgb(240, 240, 240);
            border: 1px solid rgb(240, 240, 240);
            border-radius: 10px 10px 0px 0px;
            border-bottom: 0px;
        }
        .report-selection-tab:hover, .active-tab {
            color: rgb(58, 58, 58);
            background-color: white;
            cursor: pointer;
            border: 1px solid rgb(123, 123, 123);
            padding-bottom: 10px;
            border-bottom: 0;
        }
        .active-tab {
            cursor: pointer;
        }
    section {
        height: 90%;
        border: 1px solid rgb(123, 123, 123);
        border-top: 0px;
    }
/* Overview Module */
.overview-container {
    display: flex;
    min-height: 450px;
    overflow: scroll;
}
    .overview-container > div {
        width: 50%;
        padding-left: 1%;
    }
    .address-container > p {
        padding-left: 2%;
    } 
    .overview-item-title {
        font-weight: 600;
    }
/* Financials */

.data-grid {
    box-sizing: border-box;
    border-spacing: 0px;
}
    .financials-table-cell {
        border: 1px solid rgb(226, 226, 226);
        padding: 2px;
        height: 20px;
    }
    .financials-table-label {
        font-weight: 800;
        text-align: center;
    }
    .financials-table-row-label {
        border-right: 1px solid black;
    }
    .financials-table-header {
        border-bottom: 2px solid black;
    }
    .financials-table-bottom {
        border-bottom: 2px solid black;
    }


/* Tweets Component */
.module-container {
    margin: 1% 0% 2% 5%;
    max-width: 80%;
    max-height: 450px;
    border: black 2px solid;    
}
.tweets-container {
    overflow: scroll;
}
    /* tweet Badges */
    .tweet-badge-container {
        border: lightgrey 1px solid;
        padding: 0.5% 1%;
        display: flex;
        flex-direction: row;
    }
    .tweet-badge-profile-picture {
        border-radius: 25px;
        margin-right: 15px;
    }
    .tweet-badge-info {
        display: flex ;
        align-items: center;
    }
    .tweet-badge-info * {
        padding-right: 5px;
    }
        .tweet-badge-alias-name, .tweet-badge-alias-name > *  {
            font-weight: 600;
            color: black;
            text-decoration: none;
        }
        .tweet-badge-alias-nam:hover, .tweet-badge-alias-name > *:hover {
            text-decoration: underline;

        }
        .tweet-badge-user-name, .tweet-badge-time-date {
            color: #536471;
        }
        path {
            fill: currentColor;
            stroke: currentColor;
        }
        .tweet-badge-verification-icon {
            fill: white; /* color of Outline & check mark */
            /* twitter blue - rgb(29, 155, 240); */
            stroke: black; /* color of icon */ 
            stroke-width: .01%;
            height: 25px;
        }

/* Footer Component */
footer {
    max-height: 50px;
    border-top: 1px solid grey;
    text-align: center;
}