.code {
    font-family: monospace;
    background-color: slategray;
    color: yellowgreen;
    font-weight: bold;
    margin: 0px;
}

p.output {
    font-family: monospace;
    background-color: slategray;
    color: pink;
    font-weight: bold;
    margin-left: 25px;
    padding: 5px;
}

p.input {
    font-family: monospace;
    background-color: slategray;
    font-weight: bold;
    margin-left: 25px;
}

.input::before {
    content: "> ";
}

.key-concept {
    font-weight: bold;
}

li {
    margin-left: 25px;
    margin-top: 10px;
}
