body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
}
#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*  nav & form  */
form {
    width: 30%;
    padding: 0px 40px;
}
.navbar--search-results {
    width: 100%;
}
nav {
    background-color: cornflowerblue;
    width: 100%;
    height: 100%;
    max-height: 150px;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
    form > div {
        display: flex;
        justify-content: space-between;
        
    }
        .navbar--button-container {
            display: flex;
            justify-content: center;
        }
        .navbar--button-container > button {
            width: 60%;
        }
/* Search Results Table */
table {
    width: 100%;
    max-width: 800px;
}
table * {
    background-color: lightblue;
    font-size: 95%;
    border-spacing: 0px;
}
    thead * {
        background-color: white;
    }
    .table-header-symbol, .table-header-name {
        font-size: 97%;
        font-weight: 800;
    }
    .table-header-name {
        width: 80%;
        padding: 3px 3px;
    }
    .table-header-symbol {
        width: 10%;
        padding: 3px 3px;
    }
    .table-content-name {
        font-weight: 400;
        display: flex;
    }
    .table-content-symbol {
        font-weight: 500;
    }
    .table-content-row:hover * {
        background-color: white;
        font-size: 97%;
    }
