html, body {
    margin: 15px;
    padding: 0;
    
}
.coffee {
    width: 200px;
    border: 2px solid red;
    
}
.decaf {
    position: relative;
    width: 200px;
    border: 2px solid blue;
}
.nav-bar {
    position:fixed;
    z-index: 1;
    top: 0px;
    margin: 100px;
    width: 100%;
    margin: 10px;
    padding: 10px;
    padding: 15px;
    background-color: rgb(55,44,22,.4);
}

.home {
    position:relative;
    top: 2px;
    left: 10%;
    background-color: rgb(223, 178, 89);
    border: 1px solid black;
    padding: 3px;
   
}

.menu {
    position:relative;
    top: 2px;
    left: 30%;
    background-color: rgb(223, 178, 89);
    border: 1px solid black;
    padding: 3px;
   
}

.about {
    position:relative;
    top: 2px;
    left: 50%;
    background-color: rgb(223, 178, 89);
    border: 1px solid black;
    padding: 3px;
   
}