body {
    max-height: 500px;
    max-width: 1000px;
}
.row {
    display: flex;
}
.box {
    height: 25%;
    min-height: 50px;
    display: inline-block;
    margin: 2px;
}
.row1 .box {
    width: 100%;
    background-color: #F5C6D6;
}
.row2 .box {
    width: 25%;
    background-color: #EE2E84;
}
.row3 .box {
    width: 50%;
    background-color: #85CFD8;
}
.row4 .box1 {
    width: 75%;
    background-color: #8DC63F;
}
.row4 .box2 {
    width: 25%; 
    background-color: #E76E34;
}
