* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
    max-width: 8.5in;
    min-height: 5in;
    border: 1px dashed lightblue;
    display: grid;
    grid-template-rows: 10% auto 20%;
}
body * {
    background-color: aliceblue;
}
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        header h1 {
            font-family: cursive;
        }
        header div {
            width: 7in;
            border-bottom: 4px solid slategray;
        }
    main {
        display: flex;
        flex-direction: column;
        align-items: stretch
    }
        li {
            border-bottom: 1px dashed slategray;
            min-height: 120px;
            margin: 10px 20px;
            padding: 10px 0px;
        }
            .entry {
                display: grid;
                grid-template-columns: 10% 45% 15% 30%;
            }
            .title-price, .description, .button-container {
                display: flex;
            }
            .button-container {
                grid-column: 1 / 2;
                grid-row: 1 / 4;
                align-items: center;
                display: flex;
                justify-content: space-around;
                flex-direction: column;
            }
                .check-item {
                    width: 25px;
                    height: 25px;
                    border: 2px solid black;
                    display: flex;
                    font-size: 45px;
                    justify-content: center;
                    align-content: center;
                    align-items: center
                }
                /* .check-item::before {content: '\2713'} */
                .delete-item > img  {
                    width: 25px;
                    padding: 2px;
                }
            .title {
                grid-column: 2 / 3;
                grid-row: 1 / 2;
                font-size: 18px;
                font-weight: 600;
            }
            .price {
                grid-column: 3 / 4;
                grid-row: 1 / 2;
            }
            .description {
                grid-column: 2 / 4;
                grid-row: 2 / 4;
            }
            .item-image {
                max-height: 110px;
                grid-column: 4 / 5;
                grid-row: 1 / 4;
            }
    footer {
        padding-bottom: 10px;
        border-top: 2px solid black;
    }
    footer * {
        text-align: center;
    }
    #new-entry {
        display: grid;
        grid-template-columns: 7% 48% 15% 30%;
    }
    #new-entry * {
        margin: 10px 5px;
        font-size: larger;
    }
        #title {
            grid-column: 1 / 4;
            grid-row: 1 / 2;
        }
        #price {
            grid-column: 4 / -1;
            grid-row: 1 / 2;
        }
        #desc {
            grid-column: 1 / -1;
            grid-row: 2 / 4;
            height: 42px;
            text-align: justify;
        }
        #image-url {
            grid-column: 1 / -1;
            grid-row: 4 / 5;
        }
        .submit-button-container {
            grid-column: 1 / -1;
            grid-row: 5 / 6;
            margin-top: 25px;
        }
        #user-name {
            font-size: 12px;
            grid-column: 1 / -1;
            grid-row: 6 / 7;
        }
        .completed {
            text-decoration: line-through;
            color: slategray;
        }
