body {
    padding: 0px;
    margin: 0px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header h1 {
    text-align: center;
    font-size: 55px;
    color: cornflowerblue;
    border-bottom: 1px solid black;
}
ol {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
img {
    height: 175px;
    width: 150px;
    padding-right: 25px;
}
.line-item {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    width: 600px;
    flex-direction: column;
    border-bottom: 1px dashed black;
    justify-content: space-around;
    padding: 10px;
}
.line-item > * {
    grid-column: 2 / 4 ;
    margin: 0px;
    padding: 0px
}
.line-item .image-div {
    grid-column: 1 / 2 ;
    grid-row: 1 / 4 ;
}
.line-item label {
    grid-column: 2 / 3 ;
}
.line-item input {
    grid-column: 3 / 4 ;
    width: 75px;
    height: 25px;
}
.image-div {
    display: flex;
    align-items: center;
    justify-content: center
}
.submit-content {
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
}
.total-line {
    border-top: 1px solid black;
    width: 600px;
    font-size: 20px;
    font-weight: bold;
    display: grid;
    margin: 50px 0px ;
    grid-template-columns: repeat(6, 1fr);
}
.total-line span {
    grid-column: 1 / 6;
    text-align: right;
    
}
.total-line #total-cost {
    grid-column: 6 / 7;
}
footer {
    margin-top: 20px;
    background-color: lightblue;
    padding: 40px 10px;
}
footer * {
    font-size: 15px;
    font-style: italic;
    margin: 0px;
    padding: 0px;
}
@media only screen and (max-width: 800px) {
    img {
        height: 100px;
        width: 75px;
        padding-right: 15px;
    }
    .line-item {
        width: 500px;
        height: 125px;
    }
    .total-line {
        border-top: 1px solid black;
        width: 500px;
    }
}