/* General */
* {
    font-family: 'Karla';
    font-size: 12px;
}
html, body {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
body {
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}
#root {
    max-width: 600px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
/* Header Styling */
.header--container {
    background: linear-gradient(90deg, #151348 1.18%, #2f26d3 100%);
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
.header--troll-face {
    width: 40px;
    height: 35.22px;
    position: relative;
    top: 5px;
    padding-left: 20px;
    padding-right: 10px;
}
.header--text-title {
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: -0.05em;
    color: #FFFFFF;
}
.header--text-title * {
    user-select: none;
}
    .active {
        color: #FFFFFF;
        text-decoration: underline;
    }
    .inactive {
        color: #ffffffca;
        font-weight: 600;
    }
.header--text-title > span {
    margin-left: 10px;
    padding: 5px 0px;
}
.header--text-title > span:hover {
    color: #FFFFFF;
    font-weight: 800;
}
#root > .header--container > .header--text-sub-title {
    font-family: 'Inter';
    font-weight: 500;
    line-height: 15px;
    text-align: right;
    color: #FFFFFF;
    padding-right: 37px;
}
/* Meme Generator Page */
.generator--main {
    width: 100%;
    margin-bottom: 50px;
    display: table;
    height: 100%;
}
.meme--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
    box-sizing: border-box;
}
.border-box {
    border: 1px solid rgb(197, 197, 197);
}
.meme--input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.meme--input-text {
    display: inline;
    height: 35px;
    width: 230px;
    margin-top: 17px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
    border-radius: 5px;
}
.meme--display-container {
    margin: 0px 37px;
}
.meme--meme-display {
    border-radius: 2px;
    width: auto;
    height: 268px;
    margin-top: 17px;
}
.meme--display-container, .library--item-presentation {
    position: relative;
    text-align: center;
  }
/* using an html id for this style, otherwise class-level styling above will overwrite. */
#meme--text {
    font-family: Impact;
    font-weight: 900;
    font-size: 32px;
    line-height: 100%;
    vertical-align: Top;
    color: #FFFFFF;
    text-transform: uppercase;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}
.meme-text-container-top {
    position: absolute;
    top: 10%;
    width: 100%;
}
.meme-text-container-bottom {
    position: absolute;
    top: 85%;
    width: 100%;
}
.list-item-meme-text-top {
    top: 10%
}
.list-item-meme-text-bottom {
    top: 82%
}
/* Library Page*/
.library--main {
    width: 100%;
    margin-bottom: 50px;
    display: table;
    box-sizing: border-box;
}
    .editor {
        height: 400px;
    }
    .listing {
        height: 100%;
    }
.library--list-item {
    display: grid;
    grid-template-rows: auto auto;
}
.library--item-presentation {
    grid-column: 1 / 2;
}
.library--item-presentation > img {
    max-height: 200px;
}
.library--list {
    list-style-type: none;
    padding: 0px;
}
    .library--list > li {
        border-bottom: 1px lightgrey dashed;
        padding: 30px 40px 20px 40px;
        margin: 0px 40px;
    }
    .library--list > li:last-child {
        border-bottom: 0px lightgrey dashed;
    }
/* Edit Menu */
.page--header, .page--header * {
    font-family: Impact;
    letter-spacing: 1px;
    text-align: center;
    font-size: 28px;
    color: #151348;
    margin: 5px 0px;
    width: 100%;
}
/* Button Container and Text */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    grid-row: 2 / 3;
}
.edit--controls {
    width: 60%;
}
    .control-button {
        width: 90%;
        height: 40px;
        background: linear-gradient(90deg, #2f26d3 1.18%, #151348 100%);
        border: 0px solid #D5D4D8;
        border-radius: 5px;
        margin-top: 17px;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.05em;
        color: #fff;
    }