/* General */
    html, body {
        width: 100%;
        min-height: 100vh;
        height: 100%;
        margin: 0px;
        display: flex;
        justify-content: center;
    }
    #root {
        max-width: 600px;
        width: 100%;
        padding: 10px 0px;
    }
/* Header Styling */
    .header--container {
        background: linear-gradient(90deg, #151348 1.18%, #2f26d3 100%);
        width: 100%;
        height: 65px;
        display: flex;
        justify-content: space-between;
        align-items: center;   
    }
    .header--troll-face {
        width: 40px;
        height: 35.22px;
        position: relative;
        top: 5px;
        padding: 0px 10px 10px 20px;
    }
    .header--text-title {
        font-family: 'karla';
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.05em;
        color: #FFFFFF;
        display: flex;
    }
    .header--text-title * {
        user-select: none;
    }
        .active {
            color: #FFFFFF;
            text-decoration: underline;
        }
        .inactive {
            color: #ffffffca;
            font-weight: 600;
        }
        .header--text-title > span {
            margin-left: 10px;
            padding: 10px 0px 0px;
        }
        .header--text-title > span:hover {
            color: #FFFFFF;
            font-weight: 800;
        }
    .header--text-sub-title {
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 500;
        line-height: 19px;
        text-align: right;
        color: #ffffffca;
        padding: 0px 5px 30px;
    }
/* Page Component Container */
    .component-container {
        width: 100%;
        display: table;
        height: 100%;
        box-sizing: border-box;
    }
    .component-container--content {
        border: 1px solid rgb(197, 197, 197);
        min-height: 400px;
    }
/* Meme Generator Page */
    .meme--container {
        display: flex;
        padding-bottom: 20px;
        flex-direction: column;
        align-items: center;
        width: inherit;
        box-sizing: border-box;
    }
    .meme--input-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
    }
    .meme--input-text {
        display: inline;
        height: 35px;
        width: 230px;
        margin-top: 17px;
        border: 1px solid #D5D4D8;
        text-indent: 5px;
        border-radius: 5px;
    }
    .meme--display-container {
        margin: 0px 37px;
    }
    .meme-display {
        border-radius: 2px;
        width: auto;
        height: 268px;
        margin-top: 17px;
    }
    .meme--display-container, .list-item--presentation {
        position: relative;
        text-align: center;
    }
    .meme-text-container-top {
        position: absolute;
        top: 10%;
        width: 100%;
    }
    .meme-text-container-bottom {
        position: absolute;
        top: 85%;
        width: 100%;
    }
/* Library Page*/
    .library--list {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
    }
        .library--list > li {
            border-bottom: 1px lightgrey dashed;
            padding: 30px 40px 20px 40px;
            margin: 0px 40px;
        }
        .library--list > li:last-child {
            border-bottom: 0px lightgrey dashed;
        }
    .list-item--presentation > img {
        max-width: 100%;
        
    }
/* Page Title Text */
.page--header, .page--header * {
    font-family: Impact;
    letter-spacing: 1px;
    text-align: center;
    font-size: 28px;
    color: #151348;
    margin: 5px 0px;
    width: 100%;
}
/* Button Container and Button Text */
    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 40px;
        grid-row: 2 / 3;
    }
    .edit--controls {
        width: 60%;
    }
        .control-button {
            width: 90%;
            height: 40px;
            background: linear-gradient(90deg, #2f26d3 1.18%, #151348 100%);
            border: 0px solid #D5D4D8;
            border-radius: 5px;
            margin-top: 17px;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: -0.05em;
            color: #fff;
        }
/* text shown within meme images */
.meme-text {
    line-height: 100%;
    vertical-align: Top;
    text-transform: uppercase;
    font-weight: 900;
    color: #FFFFFF;
    font-family: Impact;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}
.focus-meme-text {
    font-size: 32px;
}
.list-item--meme-text {
    font-size: 25px;
}
/* text shown in place for empty library */
.message-text {
    text-align: center;
    font-size: 18px;
    font-weight: 200;
    font-style: italic;
    margin: 17px 60px 0px 60px;
}